.backgroundLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100vw;
    background-color: #2c5d63;
}

.backgroundLoading > img {
    width: 200px;
    height: 200px;
}

.body {
    background-color: #e0e0e0;
}


.wrapper {
    background-color: #e0e0e0;
    width: 100%;
    margin: 0;
    padding: 20px 2px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.links {
    text-decoration: none;
    color: black
}

.pages {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    gap: 3px;
    margin: 20px auto;
    background-color: #e0e0e0;
}

.pages > button {
    background-color: #a2c11c;
    border: 2px solid #283739;
    border-radius: 5px;
    font-weight: bolder;
    padding: 5px 10px;
    color: #283739;
}

.pages > button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.searchWrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.searchDiv {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.options {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
}

.noSelectedOption{
    margin-left: 5px;
    background-color: #283739;
    color:#e0e0e0;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    font-style: italic;
}

.noSelectedOption:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.optionSelected {
    background-color: #a2c11c;
    color: #283739;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    font-style: italic;
    margin-left: 5px;
}

.searchInput {
    width: 400px;
    height: 23px;
    border-radius: 6px 0 0 6px;
    border: 1px solid black;
    text-align: center;
}

.searchButton{
    height: 27px;
    width: 80px;
    background-color: #2c5d63;
    color: #e0e0e0;
    border-radius: 0 6px 6px 0;
    font-family: 'Electrolize', sans-serif;
}

.searchButton:hover {
    cursor: pointer;
}

.searchButton:active{
    background-color: #1c3d42;
    color: azure;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma;
    height: 100vh;
    background-color: #1c3d42;
    width: 100%
}

.selectedPage {
    background-color: #2c5d63;
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    font-style: italic;
}