#283739
#2c5d63
#a2c11c
#e0e0e0


* {
    box-sizing: border-box;
    margin: 0
    padding 0;
}

.background {
    background-color: #e0e0e0;
    height: 110%;
    padding: 20px
}

.wrapper {
    margin: 0px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #2c5d63;
    width: 910px;
    text-align: center;
}

.upper {
    background-color: #283739;
    color: #e0e0e0;
    font-weight: 700;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.middle {
    background-color: #2c5d63;
    width: 100%;
    max-height: 600px;
    display: grid;
    grid-template-areas: "a a b"
                         "c d e";
}

.middle > div > h4 {
    padding: 2px;
    margin: 0;
    color: #a2c11c;
    font-weight: 900;
}

.dishType{
    grid-area: e;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center; 
    color: #e0e0e0; 
}

.dietType{
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    color: #e0e0e0;
}

.healthScore{
    grid-area: d;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;   
}

.healthScore > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #283739;
    width: 100%;
    height: 100%;
    font-size: 25px;
    background-color: #a2c11c;
    border-radius: 5px;
    border: 1px solid #283739;
}

.summary{
    grid-area: b;
    width: 350px;
    text-align: justify;
    margin-left: 0px;
    color: #e0e0e0;
    padding: 0;
}

.summary > h4 {
    text-align: center;
}

.summary > div > a {
    color: #e0e0e0;
    text-decoration: none;
}

.break {
    width: 100%;
    border: 1px double #283739

}

.images {
    grid-area: a;
    image-rendering: optimizeQuality;
    border-radius: 5px;
    border: 2px solid #283739;
    max-width: 600px;
    background-color:#e0e0e0;
}

.list {
    text-align: justify;
}

.bottom{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom > h4{
    margin: 0px;
    color: #a2c11c;
}

.bottom > ol {
    margin-left: 20px;
    margin-right: 5px;
    padding: 1px;
}

.bottom > ol > li{
    padding: 0 auto;
    color:#e0e0e0
}

.noSteps {
    display: none;
}

.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma;
    height: 100vh;
    background-color: #1c3d42;
    width: 100%
}